# Python
venv/
__pycache__/
*.pyc
.env

# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Android
.gradle/
android/.gradle/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db